<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Repostaje</h2>
</div>

<div class="card">
    <h3>SITUACIÓN</h3>
    <p>Tienes un pequeño descanso, te diriges al tanker, solo tienes que hacer una buena aproximación, repostar y continuar con la misión</p>
</div>

<div class="data-grid">
    <div class="card"><strong>TEXACO-1: 1x KC-135</strong></div>
    <div class="card"><strong>ARCO-1: 1x KC-135 MPRS</strong></div> 
    <div class="card"><strong>GOLDPLATE-7: 1x A-6E</strong></div> 
</div>

<div class="card">
    <div><strong>TEXACO-1</strong></div>
    <div class="data-grid">
        <div class="card"><strong>Rol:</strong> Reabastecimiento Aereo General</div>
        <div class="card"><strong>TCN:</strong> 30Y</div>
        <div class="card"><strong>Altitud:</strong> 23.000ft</div>
    </div>
</div>

<div class="card">
    <div><strong>ARCO-1</strong></div>
    <div class="data-grid">
        <div class="card"><strong>Rol:</strong> Reabastecimiento Aereo General</div>
        <div class="card"><strong>TCN:</strong> 31Y</div>
        <div class="card"><strong>Altitud:</strong> 20.000ft</div>
    </div>
</div>

<div class="card">
    <div><strong>GOLDPLATE-7</strong></div>
    <div class="data-grid">
        <div class="card"><strong>Rol:</strong> Reabastecimiento Aereo de Recuperación</div>
        <div class="card"><strong>TCN:</strong> 40Y</div>
        <div class="card"><strong>Altitud:</strong> 8.000ft</div>
    </div>
</div>


<div class="card">
    <h3>IMPORTANTE Reabastecimiento general:</h3>
    <p>Es una misision de "corto alcance" por lo que solo hace falta repostar unas <strong>2.000LB</strong> de combustible</p>
    <p>Esto es importante para no estar repostando mucho tiempo y obligar a el resto de vuelos (que no necesitan repostar) a esperar demasido o directamente obligarlos a repostar por una espera excesiva.</p>
</div>

<div class="card">
    <h3>IMPORTANTE Reabastecimiento de recuperacion:</h3>
    <p>Estas al lado de la base, solo hay que repostar lo justo para un para un par de intentos de aterrizaje en el portaaviones.</p>
</div>