<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>Llegadas</h2>
</div>

<div class="card">
    <h3>SITUACIÓN</h3>
    <p>Estas volviendo a base, estas cansado y quieres aterrizar, pero solo hay una pista y tienes a muchos compañeros contigo, toca hacer cola y seguir intrucciones de ATC.</p>
</div>

<div class="card">
    <h3>En el punto de llegada</h3>
    <p>OVERLORD TE ORDENARA PASAR A TORRE</p>
</div>

<div class="card">
    <h3>En espacio aereo de ATC</h3>
    <p>En este punto deberías estar entre <strong>FL140</strong> y <strong>FL80</strong>, a máximo <strong>265kts</strong>, y a unas <strong>15NM</strong> del TCN</p>
    <img src="images/carta_arrival_1.png" class="img-full">
    <p><small><i>*Hacer caso a ATC </i></small></p>
</div>

<div class="card">
    <h3>PROCEDIMIENTO EN ESTE CASO</h3>

    <div class="card">
        <h4>Antes del ingreso a la zona controlada</h4>
        <p>Deberiás estar a más de <strong>30NM</strong>, y acercandote, del TCN y planeando un descenso al rango de altitudes indicado</p>
    </div>

    <div class="card">
        <h4>Entrada a la espera</h4>
        <p>Independientemente del rumbo de tu llegada, ingresas en la espera realizando una órbita en sentido horario a <strong>15NM</strong> del TCN</p>
    </div>

    <div class="card">
        <h4>En la espera</h4>
        <p>Al llegar al radial <strong>180º</strong> comienzas una órbita alejandote (24NM) y acercandote (15NM) del TCN y esperas ordenes de ATC</p>
    </div>

    <div class="card">
        <h4>Salida de espera</h4>
        <p>Cuando ATC te de la señal, te ordenará salir de la espera y desdender a <strong>3800FT</strong> mientras continuas con el arco a <strong>15NM</strong></p>
    </div>

    <div class="card">
        <h4>Alineamiento</h4>
        <p>Durante la orbita, cuado llegues al radial <strong>220º</strong> con el TCN inicias el giro de alineamiento con la pista con el radial 49º mientras mantienes altitud</p>
    </div>

    <div class="card">
        <h4>Entrada en senda</h4>
        <p>Una vez estas alineado realizas un descenso a <strong>2300FT</strong> y mantienes altitud hasta las <strong>5.6NM</strong></p>
    </div>

    <div class="card">
        <h4>En final</h4>
        <p>A las <strong>5.6NM</strong> interceptas la senda de planeo para aterrizar. En aproximaciones con ILS es en este punto donde empiezas a hacer caso al ILS</p>
    </div>

    <div class="card">
        <h4>Punto de decisión (Condiciones meteorologias desfavorables)</h4>
        <p>A <strong>0.8NM</strong> si no te sientes seguro, es el mejor momento para abortar el aterrizaje</p>
    </div>
</div>