<div style="display: flex; justify-content: space-between; align-items: center;">
    <h2>DEAD</h2>
</div>

<div class="card">
    <h3>SITUACIÓN</h3>
    <p>Tu tarea es atacar los restos del vuelo de SEAD, para evitar que los sistemas antiaereos se recuperen</p>
</div>

<div class="card">
    <h3>IMPORTANTE</h3>
    <p>Configrar el bullseye para realizar un correcto reporte de enemigos</p>
    <p>Anunciar lanzamientos de bombas</p>
</div>

<div class="card">
    <h3>Armamento</h3>
    <div class="data-grid">
        <div class="card"><strong>x2 GBU-32</strong>  Objetivos de oprotunidad en <strong>TARTARUS-1</strong></div>
    </div>
</div>

<div class="card">
    <h3>Objetivos</h3>
    <p>Vuestro objetivo es <strong>TARTARUS-1</strong> WP6</p>
    <p>Vuestro vuelo debe bombardear los restos de las defensas antiaereas</p>
    <img src="images/tartarus1.png" class="img-full">
</div>

<div class="card">
    <h3>Tras tarea de SEAD</h3>
    <p>Tras acomenter dirigirse directamente al punto de TARCAP para apoyar en la supremacía aerea</p>
</div>